<html>
<head>
    <title><%= product.name %> Details</title>
</head>
<body>
    <h1><%= product.name %> Details</h1>
    <p>Price: <%= product.price %></p>
    <p>Description: <%= product.description %></p>
</body>
</html>
